@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 95%; /* #ECF0F1 */
    --foreground: 210 29% 29%; /* #34495E */
    --card: 210 17% 98%;
    --card-foreground: 210 29% 29%;
    --popover: 210 17% 98%;
    --popover-foreground: 210 29% 29%;
    --primary: 210 29% 29%; /* #34495E */
    --primary-foreground: 0 0% 98%;
    --secondary: 210 16% 91%;
    --secondary-foreground: 210 29% 29%;
    --muted: 210 16% 91%;
    --muted-foreground: 210 15% 45%;
    --accent: 26 83% 54%; /* #E67E22 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 14% 83%;
    --input: 210 14% 89%;
    --ring: 26 83% 54%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 29% 15%;
    --foreground: 210 17% 95%;
    --card: 210 29% 15%;
    --card-foreground: 210 17% 95%;
    --popover: 210 29% 15%;
    --popover-foreground: 210 17% 95%;
    --primary: 210 17% 95%;
    --primary-foreground: 210 29% 20%;
    --secondary: 210 29% 20%;
    --secondary-foreground: 210 17% 95%;
    --muted: 210 29% 20%;
    --muted-foreground: 210 15% 65%;
    --accent: 26 83% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 25%;
    --input: 210 29% 25%;
    --ring: 26 83% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
