/* A4 paper size for printing */
@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    -webkit-print-color-adjust: exact; /* Chrome, Safari */
    color-adjust: exact; /* Firefox */
    background-color: #fff;
  }

  .print\:hidden {
    display: none;
  }

  #resume-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding: 0;
    margin: 0;
  }

  #resume-preview {
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    transform: scale(1);
  }

  /* Ensure no page breaks inside these elements */
  .mb-4, .mb-6 {
    page-break-inside: avoid;
  }

  /* Add some space before sections to avoid them sticking to the top of a new page */
  h2 {
    page-break-before: auto;
    page-break-after: avoid;
  }
}

.A4-size {
    width: 100%;
    aspect-ratio: 210 / 297;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 8.5in) {
    .A4-size {
        width: 210mm;
        height: 297mm;
    }
}
